extends layout 

block content
    table(class = 'gridtable')
        tr
            th Name
            th Age
            th Email
            th Last Visited
            tr
                td #{users.username}
                td #{users.age}
                td #{users.email} 
                td #{cookie}
    p(id='lastVisit') 
        a(href='/edit/' + users._id) Edit info
        br
        br
        a(href="/logout")
            button(type="button") Log Out
    