extends layout 

block content
    table(class = 'gridtable')
        tr
            th Name
            th Age
            th Email
            th 
            th 
            tr
                td #{users.username}
                td #{users.age}
                td #{users.email} 
                td
    p
        a(href='/create') Edit info
        //- swap '/create' to /edit when edit.pug is finished