doctype 
html
    head
        title=title
        link(href='/loginstyle.css' rel='stylesheet')
    body
        h3=title
        block content
            form(action="/login" method="POST")
                //- label(for='username') Username: 
                input(type='text' name='username' placeholder='Enter Username')
                br
                //- label(for='password') Password: 
                input(type='text' name='password' placeholder='Enter Password')
                br
                input(type='submit' value='Log in' name='submitBtn')
                br
                p Don't have an account? #[a(href="/create") Sign Up]
            
